.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #53af50;
  color: white;
  border-top-left-radius: 30% 40%;
  border-top-right-radius: 30% 50%;
}

.name {
  font-weight: bolder;
  font-family: "Crafty Girls", "Play", "sans-serif";
}

.buttons a {
  margin-left: 5px;
}

.footer_icon {
  color: white;
  transition: transform 350ms !important;
  padding: 5px;
}

.footer_icon:hover {
  transform: scale(1.08) !important;
}

@media screen and (max-width: 759px) {
  .footer {
    flex-direction: column;
    height: 100px;
  }

  .buttons {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (max-height: 660px){
  .footer{
    position: relative;
    top: 80px;
  }
}

