.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.green_text {
  color: #53af50;
}

.game h2 {
  font-weight: lighter;
  font-size: 2em;
}

.game h2 span {
  margin-left: 15px;
}
