body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
}

.flex_container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_text {
  text-align: center;
}

.blue_text {
  color: blue;
}

.instructions {
  margin-top: 50px;
}

.instructions ul {
  text-align: left;
  /* font-weight: 100; */
  font-size: 14px;
}

.home_buttons {
  margin-top: 50px;
}

#playButton {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
}
