body {
  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.flex_container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.4rem;
  font-family: "Shadows Into Light", "Roboto", sans-serif;
}

h1 span:hover {
  font-size: 3rem;
  transition-timing-function: ease-out;
  transition: 0.2s;
}

.home_text {
  text-align: center;
  font-size: 1.1rem;
}

.blue_text {
  color: blue;
}

.instructions {
  margin-top: 50px;
}

.instructions ul {
  text-align: left;
  /* font-weight: 100; */
  font-size: 14px;
}

.home_buttons {
  margin-top: 50px;
}

#playButton {
  padding-left: 35px;
  padding-right: 35px;
  margin-left: 30px;
}
