* {
  transition: all 350ms ease-in-out !important;
}
body {
  font-family: "Play", "Indie Flower", "Roboto", sans-serif;
  margin: 0;
}

.logo {
  width: 120px;
  height: auto;
}
.home_text {
  text-align: center;
  font-size: 1.22rem;
}

.home_text p {
  margin-top: 40px;
}
.flex_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.instructions {
  margin-top: 40px;
}

.instructions ul {
  text-align: left;
  list-style-type: square;
  font-size: 1rem;
  line-height: 1.3rem;
}

.home_buttons {
  margin-top: 50px;
}

#playButton {
  padding: 10px 20px;

  background-color: #53af50;
  color: white;
  font-family: "Play", sans-serif;
}


@media screen and (max-width: 759px) {
  .home_text {
    padding: 5px;
    font-size: 0.95rem;
  }

  .instructions ul {
    font-size: 0.9rem;
  }

  .logo {
    width: 80px;
  }
  .flex_container {
    height: auto;
  }
}

