.square {
  border: 1px solid #999;
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Indie Flower", "Roboto", sans-serif;
  font-weight: 500;
}

.square:hover {
  background-color: whitesmoke;
}

.blue_text {
  color: blue;
}
