.table {
  width: 310px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  transition: transform 450ms ease-in-out;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .table {
    transform: scale(0.8);
  }
}
